@import "tailwindcss";

@font-face {
    font-family: "ChaletNewYork";
    src: local("Chalet_NewYork"), url("./fonts/Chalet_NewYork.ttf") format("truetype");
}

@theme {
    --color-dark: oklch(39.4% 0.023 107.4);
    --color-dark-100: oklch(58% 0.031 107.3);
    --color-light: oklch(98.8% 0.003 106.5);
    --color-light-100: oklch(93% 0.007 106.5);
    --font-sans: 'ChaletNewYork', sans;
    --font-serif: 'Playfair', serif;
    --font-japan: 'Hina Mincho'
}