@import "tailwindcss";

@theme {
    --color-dark: oklch(28.6% 0.016 107.4);
    --color-dark-100: oklch(46.6% 0.025 107.3);
    --color-light: oklch(98.8% 0.003 106.5);
    --color-light-100: oklch(93% 0.007 106.5);
    --font-sans: 'Lato', sans;
    --font-serif: 'PT Serif', serif;
}